@import "tailwindcss";
body {
  background-image: linear-gradient(to bottom, #041027, #122548);
  background-attachment: fixed; /* Isse scroll karne par bhi background ek jagah fixed rahega */
  color: #ffffff;
  min-h-screen: 100vh;
  margin: 0;
}