@import "tailwindcss";
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@font-face {
  font-family: 'EurostileExtendedBlack';
  src: url('/fonts/EurostileExtendedBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pixeloid';
  src: url('/fonts/pixeloid/PixeloidSans.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .font-serif-elegant {
    font-family: 'Playfair Display', Georgia, serif !important;
  }
}

html, body {
  /* 1. Ye command Mac/Safari ko page bounce (slide) karne se strictly rok degi */
  overscroll-behavior-y: none; 
  
  /* 2. Ye The 'Safety Net': Background ko apne dark theme jaisa set karna. 
     Isse agar mobile pe kabhi slide ho bhi gaya, toh ganda white border nahi aayega, 
     balki invisible rahega! */
  background-color: #020617; 
}

@keyframes shimmer { 0% { background-position: -1000px 0; } 100% { background-position: 1000px 0; } }
.skeleton {
    background: rgba(255, 255, 255, 0.04);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.06) 50%, rgba(255, 255, 255, 0) 100%);
    background-size: 1000px 100%; 
    animation: shimmer 2s infinite linear; 
    border-radius: 6px;
}