@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700;900&family=Instrument+Serif:ital@0;1&display=swap');

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700;900&family=Instrument+Serif:ital@0;1&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}